:root {
    --color-primary: #888888;
    --color-secondary: #707070;

    --font-primary: normal normal normal 20px/24px Helvetica Neue;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;    
}

body {
    color: white;
}

.home .header {
top: 0px;
right: 100px;
width: 100%;
height: 399px;

background: var(--color-secondary) 0% 0% no-repeat padding-box;
border: 1px solid var(--color-secondary);
opacity: 1;
clip-path: polygon(0 0,100% 0,100% 100%,0 calc(80% - 90px));
}

.home .header p {
    font-size: 20px;
    margin-top: 40px;
    display: flex;
    justify-content: center;

    margin-bottom: 0;
    padding: 0;
}

.home .header h2 {
    font-size: 40px;
    display: flex;
    justify-content: center;
    margin-top: -10px;
}

.home .header .p2 {
    padding: 0;
    margin-top: 30px;
}

.home .header .nav {
    display: flex;
    justify-content: center;
}

.home .header .nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
}

.home .header .nav ul li {
    text-decoration: none;

    padding: 10px;
    margin: 40px 30px; 

    border: 1px solid var(--color-secondary);
    border-radius: 4px;
    opacity: 1;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 6px #00000029;
}

.home .header .nav ul li a {
    text-decoration: none;

    color: var(--color-primary);
    font: var(--font-primary);
}

.help .container {
    display: flex;

    color: var(--color-primary);
}

.help .container .timing {
    width: 100%;
}

.help .container .timing .overlay {
    color: var(--color-primary);
    font: var(--font-primary);

    margin-top: 100px;
    margin-left: 500px; 
    width: 750px;
}

.data {
    color: var(--color-primary);

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: -360px;
    margin-left: 950px;
}

.data .inputs {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    width: 700px;
}

.data .inputs .personal_data {
    display: flex;
    flex-direction: column;
}


.data .inputs .personal_data .input_wrapper input[type="name"],
.data .inputs .personal_data .input_wrapper input[type="email"],
.data .inputs .personal_data .input_wrapper input[type="number"] {
    width: 100%;
    height: 27px;
}

.data .inputs .personal_data .input_wrapper label {
    margin-right: 80px;
}

.data .inputs .send {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid var(--color-secondary);
    border-radius: 4px;
    opacity: 1;

    font:  normal normal normal 16px/16px Helvetica Neue;
    color: var(--color-primary);


    width: 100%;
    height: 40px;
}

.special_text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 110px;
    position: relative; 
}

.special_text .texts h2 {
    display: flex;
    justify-content: center;
    position: relative;

    color: var(--color-primary);

    margin: auto;
}

.special_text .texts h2::before,
.special_text .texts h2::after {
    content: '';
    position: absolute;
    height: 1px;
    background-color: var(--color-secondary);
    top: 50%;
    width: 30%; 
}

.special_text .texts h2::before {
    right: calc(100% + 20px); 
    transform: translateY(-50%);
}

.special_text .texts h2::after {
    left: calc(100% + 20px); 
    transform: translateY(-50%);
}

.select_box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto; 
    padding-top: 50px;
}

.select_box .boxes {
    display: grid; /* usando display grid pela primeira vez na vida */
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    margin: 0 auto; 
}

.select_box .box {
    border: 1px solid var(--color-primary);
    height: 150px; 
    padding: 70px; 
    box-sizing: border-box;
}

.b_more {
    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 50px;
}

.b_more .more{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid var(--color-secondary);
    border-radius: 4px;
    opacity: 1;
    padding: 10px;

    font: normal normal normal 16px/16px Helvetica Neue;
    letter-spacing: 0px;
    color: var(--color-primary);
}

.share {
    text-align: center;

    margin-top: 100px;
}

.share h2 {
    position: relative;
    display: inline-block;
    color: var(--color-primary);
    font: normal normal bold 20px/16px Helvetica Neue;
    margin-bottom: 30px; 
}

.share h2::before,
.share h2::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 30%; 
    height: 1px;
    background-color: var(--color-secondary);
}

.share h2::before {
    right: calc(100% + 20px); 
    transform: translateY(-50%);
}

.share h2::after {
    left: calc(100% + 20px); 
    transform: translateY(-50%);
}

.share h1 {
    text-align: center;
    font: normal normal normal 14px/16px Helvetica Neue;
    letter-spacing: 0px;
    color: #888888;
}


.share .share_friend .input_share {
    display: inline-block;
    margin-right: 30px;
    vertical-align: top;

    color: var(--color-primary);
    text-align: left;
    font: normal normal normal 15px Helvetica Neue;
    opacity: 1;
}

.share .share_friend .input_share label {
    display: block;
    margin-bottom: 5px;
}

.share .share_friend .input_share input {
    width: 400px;
    height: 25px;
}

.share .share_friend .send2 {
    align-content: center;

    text-align: center;
    font: normal normal normal 16px/16px Helvetica Neue;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;

    margin-top: 20px;
    padding: 10px;
    width: 200px;

    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 4px;
    opacity: 1;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    text-align: center;
    font: normal normal normal 14px/18px Helvetica Neue;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;

    margin-top: 100px;
    padding-top: 90px;

    height:200px;
    background: 
    linear-gradient(to bottom right,#fff 49%,transparent 50%) top/100% 30%,
    linear-gradient(to right, #707070, #707070);
    background-repeat:no-repeat;
}


/*JS*/

.input_error {
    border: 1px solid red;
}

.error-message {
    color: red;
}
